{% extends 'base.html.twig' %}

{% block body %}
    <div class="technikum">
        {% for item in classList %}
            {% if item.type == 'technikum' %}
                <a href="{{ path('editSingleClass',{'className': item.className}) }}">{{ item.className }}</a>

            {% endif %}
        {% endfor %}
    </div>
    <div class="liceum">
        {% for item in classList %}
            {% if item.type == 'liceum' %}
                <a href="{{ path('editSingleClass',{'className': item.className}) }}"> {{ item.className }} <a
                            href="{{ path('delClass',{'id': item.id}) }}"> X </a></a>

            {% endif %}
        {% endfor %}
    </div>
    <div class="szkola_zawodowa">
        {% for item in classList %}
            {% if item.type == 'szkoła zawodowa' %}
                <a href="{{ path('editSingleClass',{'className': item.className}) }}"> {{ item.className }}</a>

            {% endif %}
        {% endfor %}
    </div>
    <div class="add">
        <a href="{{ path('addClass') }}">Add Class</a>
    </div>
{% endblock %}


